In [7]:
import numpy as np
from scipy.stats import bernoulli
import pandas as pd

In [13]:
p=0.5
n_trials = 2000
coin_flips_rvs = bernoulli.rvs(p, size=n_trials)

average_rvs = np.cumsum(coin_flips_rvs) / np.arange(1, n_trials + 1)

pd.DataFrame({'Attempts': np.arange(1, n_trials + 1), 'Average': average_rvs})

      Attempts   Average
0            1  1.000000
1            2  1.000000
2            3  0.666667
3            4  0.750000
4            5  0.800000
...        ...       ...
1995      1996  0.507515
1996      1997  0.507762
1997      1998  0.508008
1998      1999  0.507754
1999      2000  0.508000

[2000 rows x 2 columns]